[submodule "Libraries/MailCore2"]
	path = Libraries/MailCore2
	url = https://github.com/MailCore/MailCore2.git
[submodule "Libraries/google-api-objectivec-client-read-only"]
	path = Libraries/google-api-objectivec-client-read-only
	url = https://github.com/brightdigit/google-api-objectivec-client.git
[submodule "Libraries/google-plus-ios-sdk"]
	path = Libraries/google-plus-ios-sdk
	url = https://github.com/brightdigit/google-plus-ios-sdk.git
[submodule "Libraries/facebook-ios-sdk"]
	path = Libraries/facebook-ios-sdk
	url = https://github.com/brightdigit/facebook-ios-sdk.git
